<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <label for="name">Courses</label>
        <input 
            minlength="5"
            required

            ngModel
            #courseName="ngModel"
            type="text"
            name="courseName"
            id="courseName"
            class="form-control">
        <div *ngIf="courseName.touched && !courseName.valid" class="alert alert-danger">
            <div *ngIf="courseName.errors.required" >The course name is required!</div>
            <div *ngIf="courseName.errors.minlength" >The course name must be at least 5 characters!</div>
        </div>
        
        <label for="courseCategory">Category</label>
        <select 
            required
            
            #courseCategory="ngModel"
            ngModel
            name="courseCategory"
            id="courseCategory"
            class="form-control">

            <option></option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</option>
        </select>
        <div *ngIf="courseCategory.touched && !courseCategory.valid" class="alert alert-danger">
            <div *ngIf="courseCategory.errors.required" >The course category is required!</div>
        </div>

        <div class="checkbox">
            <label for="hasGaurentee">
                <input 
                ngModel 
                type="checkbox" 
                name="hasGaurentee" 
                id="hasGaurentee">
                30 Day Money Back Gaurentee
            </label>
        </div>

        
        <!-- <input name="courseName" type="text" class="form-control"> -->
    </div>
    <p>
        {{ f.value | json}}
    </p>
    <button 
        class="btn btn-primary"
        [disabled]="!f.valid"
        
        type="submit">
        
        Submit
    </button>
</form>