<div class="container">
  <h1>Angular Demo</h1>
  <app-password-changer></app-password-changer>
  
  <!-- <app-courses-form></app-courses-form> -->
  
  <!-- <h1>Angular</h1> -->
  <!-- <app-courses></app-courses> -->
  <!-- <app-favorite></app-favorite> -->
  <!-- <app-titler></app-titler> -->
  <!-- <div *ngFor="let tweet of tweets">

    <app-like
    [likesCount]='tweet.likesCount'
    [isActive]="tweet.isLiked"></app-like>
  </div> -->
  <!-- <app-zippy title="Shipping Details">
    Shipping Details Content
  </app-zippy>
  <app-zippy title="Billing Details">
    Billing Details Content
  </app-zippy> -->

  <router-outlet></router-outlet>
</div>