.zippy {
    border: 1px solid #ccc;
}

.zippy-heading {
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

.zippy-body {
    padding: 20px;
}

.expanded {
    background: #dddddd;;
}

.glyphicon {
    float: right
}